@font-face {
  font-family: Amiko;
  src: url("fonts/Amiko/Amiko-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: AmikoSemiBold;
  src: url("fonts/Amiko/Amiko-SemiBold.ttf");
  font-weight:bold;
}

@font-face {
  font-family: AmikoBold;
  src: url("fonts/Amiko/Amiko-Bold.ttf");
  font-weight: bolder;
}

* {
  font-family: Amiko;
}

body{
  padding: 0 150px 0 150px;
  background-color: black;
}

.fade-down{
  background: rgb(0,0,0);
  background: linear-gradient(144deg, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 150%);
}
.fade-up{
  height: 450px;
  background: rgb(0,0,0);
  background: linear-gradient(37deg, rgba(0,0,0,1) 70%, rgba(255,255,255,1) 150%);
}
.logo {
  transform: scale(1);
}

.icon-section{
  width: 95px;
  height: 74px;
}

.logo-section{
  height: 300px;
}

.menu-item {
  font-size: 15px;
  color: white;
  font-size: medium;
  margin: 0% 22px 0 22px;
}

nav {
  height: 150px;
  background-color: black;
}

section {
  height: 900px;
  background-color: black;
  min-height: fit-content;
}

.s-top {
  height: 110vh;
}

.s-top img {
  height: 110vh;
  width: 90%;
}

.title {
  font-family: AmikoBold;
  font-size: 50px;
  font-weight: normal;
  color: white;
  letter-spacing: -7%;
  text-transform: uppercase;
}

.subtitle {
  font-size: 23px;
  color: rgba(255, 255, 255, 0.589);
}
